.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-color: rgb(197, 196, 197);
    border-radius: 20px;

    .login-main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }

    label {
        width: 220px;
        font-size: 15px;
        align-self: flex-start;
        margin-bottom: -5px;
    }

    input[type="text"],
    input[type="password"] {
        width: 200px;
        height: 20px;
        border-radius: 10px;
        border: none;
        padding: 10px;
        margin: 5px;
        outline: none;
    }

    .password-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 220px;
        height: 50px;

        .checkbox-group {
            display: flex;
            color: black;
            font-size: 14px;
            font-weight: 500;

        }

        input[type="checkbox"] {
            width: auto;
            margin: 0;
            padding: 0;
            cursor: pointer;
        }


        label {
            width: auto;
            margin: 0;
            padding: 0;
            cursor: pointer;
        }

        .forget-password {
            font-size: 14px;
            font-weight: 500;
            color: #2879f3;
            text-decoration: none;
        }
    }

    .sign-btn {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            width: 220px;
            height: 30px;
            border-radius: 10px;
            border: none;
            margin: 10px;
            cursor: pointer;
            outline: none;
            background-color: rgb(30, 94, 197);
            transition: all 0.2s;

            &:hover {
                background-color: rgb(42, 32, 192);
            }

            &:active {
                transform: scale(0.9);
            }
        }
    }


}