<div class="header">
  <div class="header-left">
    <button mat-icon-button type="button"  (click)="layoutService.toggleSidebar()">
      <mat-icon class="menu-btn">menu</mat-icon>
    </button>
    <span class="title">莊敬選品</span>
  </div>

  <div class="header-right">
      @for (item of navItems(); track item.path) {
        @if (item.path === '/login') {
          <button
            mat-icon-button
            type="button"
            aria-label="登出"
            (click)="logout()"
          >
            <mat-icon class="right-icon">{{ item.icon }}</mat-icon>
          </button>
        } @else {
          <mat-icon class="right-icon">{{ item.icon }}</mat-icon>
        }
      }

</div>
</div>

